spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/documind?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root
    password: 123456
  data:
    redis:
      host: localhost
      port: 6379
      database: 0
  mail:
    host: smtp.qq.com
    username: 941299664@qq.com
    password: cmkithyzwoewbffa
    default-encoding: UTF-8
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

jwt:
  secret: documind-secret-key-must-be-very-long-to-satisfy-hs512-algorithm-requirement-at-least-64-bytes-long-secure-key
  expiration: 86400000
  header: Authorization

ai-engine:
  url: http://localhost:5000
